.header-container {
  height: 150px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items:center;
  margin: 20px 0px;

}

.vegogo-logo {
  font-family: "URWGeometric-Bold.woff";
  font-size: 8em;
  letter-spacing: -3px;
  margin: 0px;
  padding: 0px;
}

.hamburger {
  height: 20px;
  width: 20px;
  background: black;

}
