@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff"); }

@font-face {
  font-family: "URWGeometric-Regular.woff";
  src: url("/URWGeometric-Regular.woff") format("woff"); }

.header-container {
  height: 100px;
  width: 100%;
  padding: 20px 100px 0px 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  position: absolute;
  top: 20px; }

.vegogo-logo {
  font-family: "URWGeometric-Bold.woff";
  font-size: 4em;
  letter-spacing: -2px;
  margin: 0px;
  padding: 0px;
  color: white; }

.hamburger {
  height: 20px;
  width: 20px;
  background: black; }
