.hero-container {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
}

.hero-explainer {
  font-size: 2em;
  font-family: "URWGeometric-Bold.woff";
  position: absolute;
  top: 400px;
  color: white;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  top: 600px;
}

.signup-container--p {
  font-size: 1.5em;
  font-family: "URWGeometric-Bold.woff";
  text-align: center;
  color: white;
}

.signup-field {
  outline: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 400px;
  height: 50px;
  background: none;

}

video {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2;
}
