
.pin-container img {
  width: 35px;
  position: absolute;
}

.pin-info {
  width: 500px;
  height: 100vh;
  background: #fab;
  position: absolute;
  top: 0;
}

@-webkit-keyframes easeIn  {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.pininfo-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  margin: 100px;
  animation-name: easeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.pininfo-container-bg {
  padding: 20px;
  background: #78c7c8;
  opacity: 0.8;
  width: 70%;
  height: 70%;
}

.pininfo-closing-icon-box {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.pininfo-closing-icon {
  display: flex;
  flex-flow: row;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.pininfo-closing-icon--bar1 {
  background-color: white;
  height: 5px;
  width: 30px;
  transform: rotate(-45deg)
}

.pininfo-closing-icon--bar2 {
  background-color: white;
  height: 5px;
  width: 30px;
  transform: rotate(45deg);
  position: absolute;
}

.content-info-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.restaurant-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-name {
  font-size: 2.5em;
  font-family: "URWGeometric-Bold.woff";
  color: white;
}

.restaurant-hompage {
  font-size: 1.2em;
  font-family: "URWGeometric-Bold.woff";
  color: white;
}

.restaurant-info-txt {
  font-size: 1.2em;
  font-family: "URWGeometric-Bold.woff";
  color: white;
}

.restaurant-info-pic-container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  justify-content: space-around;
  background: red;
  margin-left: 20px;
}

.restaurant-info-pic {
  width: 200px;
  height: 200px;
  background: grey;
  margin-right: 20px;
  margin-bottom: 20px;
}
