.test {
  color: red;
  background: #fab;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
}

.pin-info.hidden {
  display: none;
}

.pin-info {
  width: 500px;
  height: 100vh;
  background: #fab;
  position: absolute;
  top: 0;
}
